.flip-card {
	background-color: transparent;
	aspect-ratio: 300 / 379;
	perspective: 1000px;
	font-family: sans-serif;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 1.6rem;
}

.flip-card-front {
}

.flip-card-back {
	transform: rotateY(180deg);
}
